body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.container{
    margin: 100px auto 100px auto;
    border-radius: 14px;
    background: hsl(0, 0%, 100%);
    width: 290px;  
    padding: 14px;
}

.container img{
    width: 100%;
    border-radius: 8px;
}

.description{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.description h3{
    text-indent: 5px;
    font-weight: 700px;
}

.description p{
    text-indent: 5px;
    font-size: 15px;
    text-align-last: center;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }